.bannerContainer {
  position: relative;
  height: 70vh;
  margin-bottom: 24px;
  overflow: hidden;
  scroll-margin-top: 0;
  scroll-snap-align: start;

  &:focus {
    outline: none;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 8px solid #ffffff;
      pointer-events: none;
      z-index: 2;
    }
  }
}

.bannerPanels {
  height: 100%;

  :global(.enact_ui_ViewManager_ViewManager_view) {
    height: 100%;
  }
}

.bannerPanel {
  height: 100%;
}

.bannerImage {
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    pointer-events: none;
  }
}

.bannerContent {
  position: absolute;
  bottom: 48px;
  left: 48px;
  z-index: 1;
  max-width: 60%;
}

.bannerTitle {
  margin-bottom: 12px !important;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.bannerDescription {
  opacity: 0.9;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  margin-bottom: 24px !important;
}

.playButton {
  background-color: rgb(206, 42, 42) !important;
  color: rgb(255, 255, 255) !important;
  max-width: 50px;
  border-radius: 4px;
  font-weight: bold;
  justify-content: center;
  transition: all 0.4s ease 0s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.85) !important;

    .buttonIcon {
      color: rgb(12, 12, 12) !important;
    }

    .playButtonContent {
      color: rgb(12, 12, 12) !important;
    }
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.75) !important;

    .buttonIcon {
      color: rgb(12, 12, 12) !important;
    }

    .playButtonContent {
      color: rgb(12, 12, 12) !important;
    }
  }
}

.buttonRoot {
  display: flex;
  align-items: center;
}

.buttonIcon {
  color: rgb(255, 255, 255) !important;
  margin-right: 8px;
}

.playButtonContent {
  display: inline-flex;
  align-items: center;
  color: rgb(255, 255, 255) !important;
}
