.carouselWrapper {
  position: relative;
  width: 100%;
  overflow: visible;
  padding: 10px 0 20px;
}

.scroller {
  width: 100%;
  overflow: visible;

  :global(.enact_ui_Scrollable_Scrollable_scroll) {
    overflow: visible;
  }
}

.cardsRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 4px 16px;
  overflow: visible;
}
