.home {
  padding: 40px;
}

.homeWrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.homeScroller {
  height: 100%;
  width: 100%;
  
  :global(.enact_sandstone_Scroller_Scroller_scrollbarTrack) {
    margin: 0;
  }
}

.homeContent {
  min-height: 100%;
  padding: 0 24px;
}

.carouselContainer {
  margin-top: 100px;
}

.carousel {
  max-height: 50%;
  overflow: visible;
  margin: 12px 0;
  
  :global(.enact_ui_Scrollable_Scrollable_scroll) {
    overflow: visible;
  }
  margin-top: 24px;
}

.section {
  margin: 48px 0;

  :global(.enact_sandstone_Heading) {
    margin-bottom: 24px;
    font-size: 42px;
  }
  margin-bottom: 48px;
}
